{% extends 'Layout/layout.html.twig' %}

{% block title %}
    {{ parent() }} - Musees
{% endblock %}

{% block content %}
  <div class="w100 grow-2 d-flex flex-row position-r">

    <div class="w100"> 
      <ul class="slider">
          {% for foto in fotosmusee %}
          <li style="background: url('{{ foto.src }}')" class="photo"></li>
          {% endfor %}
      </ul>
    </div>

      

      <div class="info position-a w50"><!-- POSITION ABSOLUTE -->
          <ul> 
            <li>{{ musee.MUS_NOM }}</li>
            <li>{{ musee.MUS_VILLE}}</li>
            <li>{{ musee.MUS_CP}}</li>
            <li>{{ musee.MUS_TEL}}</li>
            <li>{{ musee.MUS_FAX}}</li>
            <li>{{ musee.MUS_SITE}}</li>
            <li>{{ musee.MUS_FERME}}</li>
            <li>{{ musee.MUS_OUVERT}}</li>
            <li>{{ musee.MUS_NOCTURNE}}</li>
          </ul>
       </div> 

  </div>

</div>
{% endblock %}
